.form {
    padding: 12px 0;
}

.row {
    padding: 12px 0;
}

.longButton {
    background-color: white;
    border-color: blue;
    color: blue;
    font-weight: 600;
    min-width: fit-content;
    padding: 1rem 8rem;
    justify-content: center;
    align-items: center;
}