.column {
    float: left;
    width: 100%;
}

.row {
    margin: 0 -5px;
    padding: 20px 10px;
}

.card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    border-radius: 12px;
    padding: 8px;
    text-align: center;
    background-color: #f1f1f1;
    display: flex;
    gap: 4rem;
    width: max-content;
    align-items: center;
    justify-content: center;
}

.counter {
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: row;
    padding: 20px 0;
    gap: 10px;
}

.input {
    width: 32px;
    height: 40px;
}

.button {
    font-weight: 600;
    color: #000;
    border-color: rgba(0, 0, 0, 0.1);
    border-radius: 4px;
    padding: 10px 20px;
    align-items: center;
    justify-content: center;
}

@media screen and (max-width: 720px) {
    .column {
        width: 100%;
        display: block;
        margin-bottom: 20px;
    }
}